@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@font-face {
  font-family: "Universum-Font";
  src: url(./Universum\ Bg\ Light.TTF);
}

/*  GLOBAL  */
body {
  background: #ffffff;
  font: 87.5%/1.5em "Universum-Font", "Open Sans", sans-serif;
  margin: 0;
}

[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}
img {
  width: 100%;
}

/* LOGO */
.logo-holder {
  margin: 7em auto 1em auto;
  max-width: 15em;
  object-fit: fill;
}

/* FORM */
.login {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 24em;
  height: 15em;
  background: linear-gradient(to top, #ffffff, #e3e4e5) border-box;
  border: 1px solid transparent;
  border-radius: 27px;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-element {
  background-image: url(./Grey_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 2.5rem 1rem 1.5rem 1rem;
  width: 100%;
  max-width: 90%;
  border-radius: 26px;
}
/* BUTTONS */
.login-btn {
  width: 100%;
  max-width: 35%;
  transition: 0.2s ease-in-out;
  border: 2px solid transparent;
  background: linear-gradient(to top, #005139, #00ac7c) border-box;
  border: 0.5px solid transparent;
  border-radius: 16px;
}
.btn-holder {
  width: 100%;
  max-width: 90%;
  margin: 0;
  text-align: center;
}
/*  INPUTS  */

.user-row,
.password-row {
  transition: 0.2s ease-in-out;
}

input {
  border: none;
  font-family: "Universum-Font", "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  transition: 0.1s ease-in-out;
}
.span-icon-element {
  background-color: #ffffff;
  border-radius: 3px 0px 0px 3px;
  border-right: 3px solid #434a52;
  color: #606468;
  display: block;
  float: left;
  line-height: 50px;
  text-align: center;
  width: 3rem;
  height: 2.5rem;
  box-shadow: 2px 2px 2px 2px #e6e3e3;
}

.login-user-input {
  background-color: #ffffff;
  border-radius: 0px 3px 3px 0px;
  margin-bottom: 1em;
  padding: 0 1rem;
  width: 13em;
  height: 2.5em;
  border: none;
  box-shadow: 2px 2px 2px 2px #e6e3e3;
}

input[type='password'],
input[type='text'] {
  font-family:  caption;
  color: black;
}

.login-password-input {
  background-color: #ffffff;
  border-radius: 0px 3px 3px 0px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 1rem;
  width: 13em;
  height: 2.5em;
  border: none;
  box-shadow: 2px 2px 2px 2px #e6e3e3;
}

/* HOVER EFFECTS  */

.login-btn:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.05);
}

.user-row:hover,
.password-row:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}
